QWidget {
	background: rgb(61,69,72);
	color: white;
	font-weight: bold;
}

QMainWindow {
	background: rgb(61,69,72);
}

QScrollBar::handle {
	background-color: rgb(33,167,108);
	border: none;
}

QScrollBar::handle:pressed {
	background-color: rgb(18,123,75);
}

QMainWindow::separator {
	background-color: rgb(45,46,48);
	width: 6px;
	height: 6px;
}

QStatusBar {
	background-color: rgb(45,46,48);
	color: white;
}

QMenuBar {
	background-color: rgb(45,46,48);
	font-weight: bold;
}

QMenuBar::item {
	background-color: rgb(45,46,48);
	color: white;
}

QMenuBar::item:selected {
	background-color: rgb(33,167,108);
}

QMenuBar::item:pressed {
	background-color: rgb(18,123,75);
}

QMenu {
	background-color: rgb(33,167,108);
	color: white;
	font-weight: bold;
}

QMenu::item {
	padding: 2px 25px 2px 24px;
	border: 1px;
}

QMenu::icon {
	padding: 2px;
}

QMenu::item:selected {
	background-color: rgb(18,123,75);
}

QMenu::item:pressed {
	background-color: rgb(18,123,75);
}

QGroupBox {
	color: white;
	font-weight: bold;
}

QSpinBox {
	background-color: rgb(33,167,108);
	border: none;
	padding: 4px;
}

QSpinBox::up-button {
	background-color: rgb(33,167,108);
	border: none;
}

QSpinBox::up-button:hover {
	background-color: rgb(18,123,75);
}

QSpinBox::down-button {
	background-color: rgb(33,167,108);
	border: none;
}

QSpinBox::down-button:hover {
	background-color: rgb(18,123,75);
}

QSpinBox::up-arrow  {
    background-image: url(images/uparrow.png);
    width: 8px;
    height: 8px;
}

QSpinBox::down-arrow  {
    background-image: url(images/downarrow.png);
    width: 8px;
    height: 8px;
}

QRadioButton::indicator {
	width: 13px;
	height: 13px;
}

QRadioButton::indicator::unchecked  {
    image: url(images/radiobutton.png);
}
 
QRadioButton::indicator:unchecked:hover  {
    image: url(images/radiobuttonhover.png);
}
 
QRadioButton::indicator::checked  {
    image: url(images/radiobuttonchecked.png);
}
 
QRadioButton::indicator:checked:hover  {
    image: url(images/radiobuttoncheckedhover.png);
}

QPushButton {
	border: none;
	background: rgb(33,167,108);
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 12px;
	padding-right: 12px;
	color: white;
	font-weight: bold;
}

QPushButton:hover {
	background: rgb(18,123,75);
}

QToolBar {
	background-color: rgb(45,46,48);
}

QToolButton {
	border: none;
	margin: 2px;
	padding: 2px;
	background-color: rgb(45,46,48);
}

QToolButton:hover {
	background-color: rgb(33,167,108);
}

QToolButton:pressed {
	background-color: rgb(18,123,75);
}

QToolButton:selected {
	background-color: red;
}

QToolButton:checked {
	background-color: rgb(18,123,75);
}

QTabWidget::pane {
	border-top: 2px solid;
	border-top-color: rgb(18,123,75);
}

QTabBar::tab {
	background-color: rgb(33,167,108);
	color: white;
	font-weight: bold;
}

QTabBar::tab:selected {
	background-color: rgb(18,123,75);
}

QSizeGrip {
	background-image: url(images/sizegrip.png);
	width: 16px;
	height: 16px;
}

QWidget#CanvasEdit {
	background-color: white;
}

QScrollArea#MainWidget {
	border: none;
	background: url("images/transparent.png");
}

QListWidget {
	border: none;
	background-color: rgb(33,167,108);
}

QListWidget::item {
	background-color: rgb(33,167,108);
}

QListWidget::item:selected {
	background-color: rgb(18,123,75);
}

QComboBox {
	border: none;
	background-color: rgb(33,167,108); 
}

QComboBox::editable {
	background-color: rgb(33,167,108);
}

QComboBox::down-arrow {
	border: none;
	background-color: rgb(33,167,108);
	background-image: url('images/downarrow.png');
}