/* All widgets */

QWidget {
	background-color: rgb(61,69,72);
	background-color: rgb(45,46,48);
	color: white;
	selection-background-color: rgb(24,112,175);
}



/* MainWindow */

QMainWindow::separator {
	background-color: rgb(45,46,48);
	width: 6px;
	height: 6px;
}



/* DockWidget */

QDockWidget::title {
	text-align: center;
	background-color: rgb(45,46,48);
	padding-bottom: 0px;
	margin-bottom: 0px;
}



/* ToolBar */

QToolBar {
	background-color: rgb(45,46,48);
	border: none;
}



/* ToolButton */

QToolButton {
	border: none;
	border-radius: 2px;
	margin: 2px;
	padding: 2px;
	background-color: rgb(45,46,48);
}

QToolButton:hover {
	background-color: rgb(49,148,217);
}

QToolButton:pressed {
	background-color: rgb(24,112,175);
}

QToolButton:selected {
	background-color: red;
}

QToolButton:checked {
	background-color: rgb(24,112,175);
}



/* MenuBar */

QMenuBar {
	background-color: rgb(45,46,48);
	margin: 0px;
}

QMenuBar::item {
	background-color: rgb(45,46,48);
	color: white;
}

QMenuBar::item:selected {
	background-color: rgb(49,148,217);
}

QMenuBar::item:pressed {
	background-color: rgb(24,112,175);
}



/* Menu */

QMenu {
	background-color: rgb(49,148,217);
	color: white;
	padding: 0px;
}

QMenu::item {
	padding: 2px 25px 2px 24px;
	border: 1px;
}

QMenu::icon {
	padding: 2px;
}

QMenu::item:selected {
	background-color: rgb(24,112,175);
}

QMenu::item:pressed {
	background-color: rgb(24,112,175);
}

QMenu::item:checked {
	background-color: rgb(24,112,175);
}



/* StatusBar */

QStatusBar {
	background-color: rgb(45,46,48);
	color: white;
}



/* ScrollBars */

QScrollBar::handle {
	background-color: rgb(49,148,217);
	border: none;
}

QScrollBar::handle:pressed {
	background-color: rgb(24,112,175);
}



/* GroupBox */

QGroupBox {
	color: white;
	font-weight: bold;
}



/* SpinBox */

QSpinBox {
	border: none;
	border-radius: 2px;
	background-color: rgb(49,148,217);
	padding: 4px;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-right: 1px;
}

QSpinBox::up-button {
	subcontrol-origin: border;
	subcontrol-position: top right;
	background-color: rgb(49,148,217);
	border: none;
	border-top-right-radius: 2px;
	height: 13%;
}

QSpinBox::up-button:hover {
	background-color: rgb(24,112,175);
}

QSpinBox::down-button {
	subcontrol-origin: border;
	subcontrol-position: bottom right;
	background-color: rgb(49,148,217);
	border: none;
	border-bottom-right-radius: 2px;
	height: 13%;
}

QSpinBox::down-button:hover {
	background-color: rgb(24,112,175);
}

QSpinBox::up-arrow  {
    background-image: url(images/uparrow.png);
    width: 8px;
    height: 8px;
}

QSpinBox::down-arrow  {
    background-image: url(images/downarrow.png);
    width: 8px;
    height: 8px;
}



/* ListWidget */

QListWidget {
	border: none;
	border-radius: 2px;
	background-color: rgb(49,148,217);
}

QListWidget::item {
	background-color: rgb(49,148,217);
	border-radius: 2px;
}

QListWidget::item:selected {
	background-color: rgb(24,112,175);
}



/* Slider */

QSlider::groove:horizontal {
	border: none;
	height: 2px;
	background-color: rgb(61,69,72);
	margin: 4px;
}

QSlider::handle:horizontal {
	background-color: rgb(49,148,217);
	border: none;
	width: 16px;
	border-radius: 8px;
	margin-top: -7px;
	margin-bottom: -7px;
}

QSlider::handle:horizontal:pressed {
	background-color: rgb(24,112,175);
}



/* ComboBox */

QComboBox {
	background-color: rgb(49,148,217);
	border: none;
	border-radius: 2px;
	padding: 4px;
	margin-top: 3px;
	margin-bottom: 3px;
}

QComboBox::down-arrow {
	image: url("images/downarrow.png")
}

QComboBox::drop-down {
	border: none;
}

QComboBox QAbstractItemView {
	border: none;
}

QComboBox QAbstractItemView::icon {
	margin-left: -24px;
}



/* RadioButton */

QRadioButton::indicator {
	width: 12px;
	height: 12px;
	border-radius: 6px;
	background-color: rgb(49,148,217);
	margin: 5px 0px;
}

QRadioButton::indicator:unchecked {
	background-color: rgb(49,148,217);
}

QRadioButton::indicator:unchecked:hover {
	background-color: rgb(24,112,175);
}

QRadioButton::indicator:checked {
	background-color: rgb(24,112,175);
	background-image: url("images/tick.png")
}

QRadioButton::indicator:checked:hover {
	background-color: rgb(24,112,175);
}



/* PushButton */

QPushButton {
	border: none;
	border-radius: 2px;
	background-color: rgb(49,148,217);
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 12px;
	padding-right: 12px;
	color: white;
	font-weight: bold;
}

QPushButton:hover {
	background: rgb(24,112,175);
}



/* TabWidget */

QTabWidget::pane {
	border-top: 2px solid;
	border-top-color: rgb(24,112,175);
}



/* TabBar */

QTabBar::tab {
	background-color: rgb(49,148,217);
	color: white;
	font-weight: bold;
}

QTabBar::tab:selected {
	background-color: rgb(24,112,175);
}



/* SizeGrip */

QSizeGrip {
	background-image: url(images/sizegrip.png);
	width: 16px;
	height: 16px;
}


/* #CanvasEdit */

QWidget#CanvasEdit {
	background-color: white;
}



/* #MainWidget */

QScrollArea#MainWidget {
	border: none;
	border-radius: 4px;
	background-color: rgb(61,69,72);
}



/* #Canvas */

QLabel#Canvas {
	background-image: url("images/transparent.png");
}



/* #ImagePosLabel */

QLabel#ImagePosLabel {
	background-color: rgb(45,46,48);
}



/* #Palette, #ToolProperties & #Preview */

QWidget#Palette, QWidget#ToolProperties, QWidget#Preview  {
	background-color: rgb(45,46,48);
}



/* #PrimaryColor & #SecondaryColor */

QLabel#PrimaryColor,  QLabel#SecondaryColor {
 	border: 2px solid white;
 	border-radius: 2px;
}



/* #Color */

QFrame#Color {
 	border: none;
 	border-radius: 2px;
}



